# Server
PORT=3000
HOST=0.0.0.0
NODE_ENV=development

# Database
DATABASE_URL=postgresql://neondb_owner:npg_HhCvYlab6Df5@ep-sparkling-hill-ahg76864-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Redis
REDIS_URL=redis://default:3p2RWLHQvWnnlrXZy0aRram4wgFhcxUd@redis-14648.c266.us-east-1-3.ec2.cloud.redislabs.com:14648

# JWT
JWT_ACCESS_SECRET=your-access-secret-change-in-production
JWT_REFRESH_SECRET=your-refresh-secret-change-in-production
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Stripe
# STRIPE_SECRET_KEY=sk_test_your_key_here
# STRIPE_WEBHOOK_SECRET=whsec_your_webhook_secret_here
# STRIPE_PUBLISHABLE_KEY=pk_test_your_key_here


STRIPE_SECRET_KEY=sk_test_51S8GfGHpitcM2rGf9Po7DlApTTtppYO9i7yLVYP0xKnshHAOh3G4sk8g6QtJa7RGddkXdM4JDPscYRvGoGhl56XO008auSzQTf
STRIPE_PUBLISHABLE_KEY=pk_test_51S8GfGHpitcM2rGfLeVwDayKVnTwUZhsrIjNe0p5Jx5GDjPNaQz1wYkI48di9v5wlTPd2y4OWG8Wy5hVm0l9Mcs400PNwUSvYt
STRIPE_WEBHOOK_SECRET=whsec_bec399b14ce35a37fa0ee29e04a77e01471a4a48c09fd620cbb352bd39580a7e


# // STRIPE_SECRET_KEY=sk_test_51S8GfGHpitcM2rGf9Po7DlApTTtppYO9i7yLVYP0xKnshHAOh3G4sk8g6QtJa7RGddkXdM4JDPscYRvGoGhl56XO008auSzQTf
# // STRIPE_PUBLISHABLE_KEY=pk_test_51S8GfGHpitcM2rGfLeVwDayKVnTwUZhsrIjNe0p5Jx5GDjPNaQz1wYkI48di9v5wlTPd2y4OWG8Wy5hVm0l9Mcs400PNwUSvYt
# // STRIPE_WEBHOOK_SECRET=whsec_bec399b14ce35a37fa0ee29e04a77e01471a4a48c09fd620cbb352bd39580a7e

# Binance
BINANCE_API_KEY=
BINANCE_API_SECRET=
BINANCE_TESTNET=true

# Exchange Encryption
EXCHANGE_ENCRYPTION_KEY=32-byte-hex-key-change-in-production

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Apple OAuth
APPLE_CLIENT_ID=
APPLE_TEAM_ID=
APPLE_KEY_ID=

# File Upload (S3 or MinIO)
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=bottrade-uploads
S3_REGION=us-east-1
